<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yang.springboottest.mapper.CompanyMapper">
    
    <select id="selectCompalyById" parameterType="com.yang.springboottest.bean.Company" resultType="com.yang.springboottest.bean.Company">
        SELECT id, company_name as companyName FROM company WHERE id = #{company.id}
    </select>
</mapper>